header{
    background-color: #6D67D0;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
}

input{
    color: black;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: red;
}
.content *{
    background-color: #6D67D0;
}