header{
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 10px;
}
form{
    position: static;
    display: flex;
    gap: 15px;
    padding: 5px;

}
form > div{
    width: 100%;
}
input{
    color: black;
    z-index: 100;
    width: 100%;
    padding: 5px;
}

.content{
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 150px;
    overflow-y: auto;
    max-height: 300px;
    display: none;
}
.content > div{
    background-color: #6D67D0;
    cursor: pointer;
    padding: 5px;
}
.content > div:hover{
    background-color: white;
    color: #6D67D0;
}

.content-cidades{
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 150px;
    overflow-y: auto;
    max-height: 300px;
}
.content-cidades > div{
    background-color: #6D67D0;
    cursor: pointer;
    padding: 5px;
}
.content-cidades > div:hover{
    background-color: white;
    color: #6D67D0;
}