header{
    border-radius: 5px;
    margin-top: 10px;
}
form{
    position: static;
    display: flex;
    gap: 15px;
}
input{
    color: black;
    width: 150px;
    height: 20px;

}

.content{
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 150px;
    overflow-y: auto;
    max-height: 300px;
    display: none;
}
.content > div{
    background-color: #6D67D0;
    cursor: pointer;
    padding: 5px;
}
.content > div:hover{
    background-color: white;
    color: #6D67D0;
}