*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url(RobotoCondensed-Regular.ttf);
}
:root{
    --bg-color: #6D67D0;
    --primary-color: white;
    --secondary-color: gainsboro;
    --tertiary-color: #87EBCD;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    gap: 40px;
}

main{
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    gap: 25px;
}
.row{
    display: flex;
    gap: 5px;
    align-items: center;
}
.container-temperature-now{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url(../assets/bg-Temperature-Now.png);
    flex: 1;
    border-radius: 10px;
    position: relative;
}
.img-weather{
    position: absolute;
    top: -60px;
    left: -40px;
}
.city{
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.city img{
    height: 30px;
    text-align: center;
}
.temperature{
    margin-inline: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temperature-now{
    display: flex;
}
.temperature-now h1{
    font-weight: bold;
    font-size: 88px;
}
.temperature-now span{
    margin-top: 10px;
}
.min-max-temp-now{
    font-size: 20px;
}
.min-max-temp-now span:last-child{
    color: var(--secondary-color);
}
.container-statistics{
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    gap: 8px;
    flex-wrap: wrap;
}
.statistics{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: rgba(109, 103, 208, 0.6);
    padding: 15px;
    border-radius: 5px;
    flex: 1;
    justify-content: space-evenly;
}
.statistics img{
    width: 27px;
    height: 24px;
}
.statistics div span{
    color: var(--secondary-color);
}
.statistics div h3{
    font-weight: lighter;
}


.others-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
    flex: 1;
}
.col1, .col2, .temperature-week{
    border-radius: 12px;
}
.two-columns-info{
    display: flex;
    width: 100%;
    gap: 15px;

}
.col1, .col2{
    background-color: var(--bg-color);
    width: 100%;
    min-height: 247px;;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.air-quality-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
#air-quality-status{
    color: var(--tertiary-color);
}
.container-air-elements{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.air-element{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.air-element span:first-child{
    font-size: 14px;
    color: var(--tertiary-color);
}
.air-element span:last-child{
    font-size: 12px;
    color: var(--secondary-color);
}
.tertiary-color{
    color: var(--tertiary-color);
}

.col2 h1, .col2 span{
    margin-top: 15px;
}






.temperature-week{
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.day-week{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.day-week img{
    width: 64px;
    text-align: center;
}
.min-max-temp-week span:last-child{
    color: var(--secondary-color);
}




@media (max-width: 900px){
    body{
        height: auto;
        padding: 15px;
        background-repeat: repeat;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-temperature-now{
        flex-shrink: 1;
    }
}