*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url(RobotoCondensed-Regular.ttf);
}
:root{
    --bg-color: #6D67D0;
    --primary-color: white;
    --secondary-color: gainsboro;
    --tertiary-color: #87EBCD;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    gap: 25px;
}

.container-temperature-now{
    width: 480px;
    height: 480px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url(../assets/bg-Temperature-Now.png);
    flex-shrink: 0;
}
.city{
    margin-left: auto;
    margin-top: 20px;
    display: flex;
}
.temperature{
    margin-inline: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temperature-now{
    display: flex;
}
.temperature-now h1{
    font-weight: bold;
    font-size: 88px;
}
.temperature-now span{
    margin-top: 10px;
}
.min-max-temp-now{
    font-size: 20px;
}
.min-max-temp-now span:last-child{
    color: var(--secondary-color);
}
.container-statistics{
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    gap: 8px;
}
.statistics{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: rgba(109, 103, 208, 0.6);
    padding: 15px;
    border-radius: 5px;
    flex: 1;
    justify-content: space-evenly;
}
.statistics img{
    width: 27px;
    height: 24px;
}
.statistics div span{
    color: var(--secondary-color);
}
.statistics div h3{
    font-weight: lighter;
}


.others-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.others-info  div{
    border-radius: 12px;
}
.two-columns-info{
    display: flex;
    width: 100%;
    gap: 15px;

}
.two-columns-info div{
    background-color: var(--bg-color);
    width: 100%;
    min-height: 247px;;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two-columns-info div span{
    display: flex;
    margin-top: 15px;
}
.two-columns-info > div div  span{
    color: var(--tertiary-color);
}

.temperature-week{
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.day-week{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.day-week img{
    width: 64px;
    text-align: center;
}
.min-max-temp-week span:last-child{
    color: var(--secondary-color);
}